*{margin:0px;
padding:0px;}
.navbar{display:flex;}
 .nav-list{
   width:200%;
   display:flex;
   justify-content:center;
   align-items:center;
   background-color:#308AE4;
 }
.nav-list li{list-style:none;
padding:15px 60px;
  
}



.nav-list li a{ color:white;
text-decoration:none;
font-size:30px;
font-family: 'Lato', sans-serif;
font-family: 'Tiro Devanagari Sanskrit', serif;
}
.logo{width:23%;
  display:flex;
  justify-content:center;
  text-align:center;
  
  
}
.logo img{width:45%;
  border:3px solid black;
  border-radius:50px;
}
.nav-list li a:hover{color:grey;}

.heading{color:white;
  text-align:center;
  margin:10px 60px;
  font-size:100px;
text-align:center;
  
  color:black;
  font-family: 'Tiro Telugu', serif;
  width:85%;


  
}
.paragraph{color:black;

  font-family: 'Tiro Telugu', serif;
  border:2px solid #308AE4;
  background-color:#308AE4;
  width:976px;
  text-align:center;
  font-size:50px;
  display:contain;
  margin:108px 0px;
  text-transform:capitalize;
}
body{background-image:url("https://i.ibb.co/k8QZ67j/images-4.jpg");}

.hanumanji img{margin:10px 310px;
  width:30%;
  display:flex;

  
}
.houseimg1 img{border:6px solid #308AE4;
  border-radius:26px;
  width:400px;
  margin:26px;
  display:contain;
}
.credit{font-family: 'Tiro Telugu', serif;font-size:50px;
  background-color:#308AE4;
  color:white;
}

